* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
} 

a{
  text-decoration: none;
  color: inherit;
}

ul,li{
  list-style: none;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(0, 0, 0);
}

.title img{
  width: 100px;
  height: 100px;
}
.menu .menu_top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border: 1px solid black;
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius : 10px;
}
.menu .menu_top .toggle{
  display: none;
} 

.main{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.main > ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main > ul > li > button{
  font-size: 40px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: white;
  color: black;
  width: 50px;
}

.main > ul > li > button:hover{
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: 0.5s;
}


.main::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url(../imge/tour.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2.5px);
  z-index: -1;
}

.front{
  width: 100%;
  height: 100%;
  text-align:center;
  align-content: center;
  align-items: center;
  background-image: url(../imge/air.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}








.front h2{
  margin-top: 100px;
  
}

.front h2:hover{

}

.front > ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  
}

.front > ul > li > button{
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 200px;
  line-height: 50px;
  border: 1px solid transparent;
}

.front > ul > li > button:hover{
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: 0.5s;
  transform: scale(1.1);
}


